@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';

$poppins: 'Poppins', sans-serif;
$fontsize1: 17px;
$colorButtonText: #FCC822;

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif !important;
  .ant-layout {
    background-color: #fff;
  }
  .wrapper-layout {
    height: 100vh;
    width: 90%;
    margin: 0 auto;
  }

  .ant-steps {
    height: 50px;
    .ant-steps-item-icon {
      background-color: #FCC822 !important;
      border-color: #FCC822 !important;
    }
    .ant-steps-item-description {
      display: none;
    }
  }

  .ant-picker {
    width: 100%;
  }
  
  .ant-select {
    width: 100%;
  }

  .ant-notification {
    background-color: #FCC822;
  }

  .title_box {
    background-color: #FCC822 !important;
    border-color: #FCC822 !important;
    min-height: 100px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    color: #FFF;
  }

  .question_answer {
    width: 100%;
    height: 50px;
    background-color: #F2F2F2;
    color: #000;
    font-weight: bold;
    text-wrap: wrap;
    &:hover {
      background-color: #FCC822 !important;
      color: #FFF;
    }
  }
  
  .selected {
    background-color: #FCC822;
  }

  .clock_time {
    width: 50px;
    height: 50px;
    background-image: url('../asset/images/time.png');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    .time_number {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
    }
  }

  .answer-group {
    display: flex;
    margin-bottom: 24px;
    .ant-form-item {
      margin-bottom: 0;
    }
    &__input {
      width: 80%;
      margin-right: 10px
    }
  }
}

@import 'leftBar';
@import 'header';
@import 'menu';
@import 'text';
@import 'button';
@import 'pages';

